*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    padding: 0;
    
}
.Teorie{
    font-size: 1.3rem;
    
}

.Navbar{
background-color: darkblue;
width: 100%;
height: 5rem;
display: flex;
align-items: center;
align-content: center;
color: white;
}
#junimea{
    margin: auto;
    font-size: 3rem;
}

.header{
    width: 100%;
    display: flex;
    align-items:center;
    align-content: center;
    flex-direction: column;

}
.pgraf{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    margin:auto;
    padding: 10px;
    font-size: 1.2rem;
}
.period{
    width: 100%;

    
}

.Bere{
    height: 300px;
    width: 600px;
background-image:url(../Cativa_prieteni_la_o_bere.jpg);
background-size: cover;
margin: auto;

}
.unu{
    height: 300px;
    width: 200px;
background-image:url(../Titu_Maiorescu_-_Foto01.jpg);
background-size: cover;
margin: auto;
}
.doi{
    height: 300px;
    width: 200px;
background-image: url(../Petre-Carp-portret.jpg);
background-size: cover;
margin: auto;
}
.trei{
    height: 300px;
    width: 200px;
    background-image:url(../download.jpg) ;
    background-size: cover;
margin: auto;
}
.patru{
    height: 300px;
    width: 200px;
    background-image:url(../Iacob_Negruzzi.jpg) ;
    background-size: cover;
    margin: auto;
}
.cinci{
    height: 300px;
    width: 200px;
    background-image: url(../Bossu.jpg);
    background-size: cover;
    margin: auto;
}
.rep1{
    height: 300px;
    width: 200px;
    background-image: url(../Emi.jpg);
    background-size: cover;
    margin: auto;
}
.rep2{
    height: 300px;
    width: 400px;
    background-image: url(../Ion.jpg);
    background-size: cover;
    margin: auto;
}