/**{
    box-sizing: border-box;
}*/
body{
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    padding: 0;
    
}
.Teorie{
    font-size: 1.3rem;
    margin: auto;
}

.Navbar{
background-color: darkblue;
width: 100%;
height: 5rem;
display: flex;
align-items: center;
align-content: center;
color: white;
}
#junimea{
    margin: auto;
    font-size: 3rem;
}

.header{
    width: 100%;
    display: flex;
    align-items:center;
    align-content: center;
    flex-direction: column;

}
.pgraf{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    margin:auto;
    padding: 10px;
    font-size: 1.2rem;
}
.period{
    width: 100%;

    
}
.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding: 10px;

}
.doi{
    height: 300px;
    width: 200px;
background-image: url(./Carp.jpeg);
background-size: cover;
margin: auto;
}
.img{
 margin: auto;

}
